<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ScanJD - Coming Soon!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="LandingPage/assets/img/favicon.png" rel="icon">
  <link href="LandingPage/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="LandingPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="LandingPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="LandingPage/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maundy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <script src="LandingPage/forms/notify.js"></script>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">

      <h1>ScanJD</h1>
      <h2>Fast-track your job search with our powerful tool and become the top candidate every employer desires!</h2>
      <p>We're working hard to improve our website and we'll ready to launch after</p>
      <div class="countdown d-flex justify-content-center" data-count="2023/10/1">
        <div>
          <h3>%d</h3>
          <h4>Days</h4>
        </div>
        <div>
          <h3>%h</h3>
          <h4>Hours</h4>
        </div>
        <div>
          <h3>%m</h3>
          <h4>Minutes</h4>
        </div>
        <div>
          <h3>%s</h3>
          <h4>Seconds</h4>
        </div>
      </div>

      <div class="subscribe">
        <h4>Subscribe now to join our waitlist and get early access!</h4>
        <form action="/subscribe" method="post" role="form" class="php-email-form">
          <div class="subscribe-form">
              <input type="email" name="email" required>
              <input type="submit" value="Subscribe">
          </div>
      </form>      
          <div class="mt-2">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your notification request was sent. Thank you!</div>
          </div>
        </form>
      </div>
    </div>
  </header>

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <!-- <p>Discover your dream job with our powerful tool and become the top candidate every employer desires.!</p> -->
        </div>

        <div class="row mt-2">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Work Experience</a></h4>
            <p class="description">Unlock job opportunities with the right experience level in an instant. Your dream job, your experience, no more guessing!</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-globe-americas"></i></div>
            <h4 class="title"><a href="">Visa Sponsorship</a></h4>
            <p class="description">Cut through the noise and find the perfect job that says 'Yes!' to Visa Sponsorship with our smart filtering tool.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="">Top Skills</a></h4>
            <p class="description">Discover the key skills that put you at the top of the hiring list. Elevate your career with the power of skill knowledge</p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->



 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>Maundy</span></strong>. All Rights Reserved
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="LandingPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="LandingPage/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="LandingPage/js/main.js"></script>

</body>

</html>